.ktg-targets {

    &__header {
        padding: 0 0 1.5rem;
        border-bottom: 1px solid #ddd;

        &Logo {
            font-size: 28px;
            font-weight: 300;
            color: #555;
        }
    }
}

.target {

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__remove {
        cursor: pointer;
        opacity: 0.4;
        color: #777;
        font-size: 30px;
        font-weight: 600;

        &:hover {
            color: #777;
            text-decoration: none;
            opacity: 1;
        }
    }

    &__name {
        font-weight: 400;
        margin: 0;

        &_priority {
            color:#ff0000;
        }
    }
}