.target {

    &__header {

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {

        background: #fbfbfb;
        padding: 0 1.5rem 1.5rem;
    }

    &__delete {
        cursor: pointer;
        opacity: 0.4;
        color: #777;
        font-size: 30px;
        font-weight: 600;

        &:hover {
            color: #777;
            text-decoration: none;
            opacity: 1;
        }
    }

    &__name {

        width: 100%;
        font-weight: 300;
        margin: 0;

        &_priority {
            color:#ff0000;
        }
    }

    &__footer {

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #ddd;

        @media (max-width: 767px) {

            flex-wrap: wrap;
        }
    }

    &__update {

        &Show {

            @media (max-width: 767px) {
                width: 100%
            }
        }

        &Hide {

            margin-left: auto
        }

        &Save {

            margin-left: 1.5rem
        }

        &Hide,
        &Save {

            @media (max-width: 767px) {
                width: 47%;
                margin: 0;
            }
        }
    }

    &__created {

        @media (max-width: 767px) {
            width: 100%;
            margin: 0 0 1.5rem;
        }
    }
}