@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '@/assets/styles/scss/_variables.scss';
@import '@/assets/styles/scss/_input.scss';

body {

    background-image: url('~@/assets/img/bg-body.png');
    overflow-y: scroll;
}

.ktg-card {

    background: url('~@/assets/img/bg-card-bottom.png') repeat-x scroll 0 100% padding-box #D2D2D2;
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 4px !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    padding-bottom: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    margin: 0 0 1rem;

    &_inline {

        display: inline-block;
    }

    &__body {

        background-color: #fbfbfb;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    }
}